### Given a table of spx call and put prices, regress the PVF and DF

In [1]:
import numpy as np
import pandas as pd
import pyquantlib as pq
from IPython.display import display
import matplotlib.pyplot as plt
%matplotlib inline
from importlib import reload
import datetime as dt

from scipy.linalg import cho_solve

In [2]:
# question given:
strikes = np.array([1175, 1200, 1225, 1250, 1275, 1300, 1325, 1350, 1375, 1400, 1425, 
                    1450, 1500, 1550, 1575, 1600])
call_pxs = np.array([225.4, 205.55, 186.2, 167.5, 149.15, 131.7, 115.25, 99.55, 84.9,
                    71.1, 58.7, 47.25, 29.25, 15.8, 11.1, 7.9])
put_pxs = np.array([46.6, 51.55, 57.15, 63.3, 70.15, 77.7, 86.2, 95.3, 105.3, 116.55, 
                   129.0, 143.2, 173.95, 210.8, 230.9, 252.4])
col_names = ['strike','c','p']
val_date = dt.date(2012, 3, 9)
mat_date = dt.date(2012, 12, 20)
T = np.busday_count(val_date, mat_date) / (365.25 * 5/7)
print(T)

0.781930184805

#### Visualizing the given prices

In [3]:
arr_lists = [strikes, call_pxs, put_pxs]
pq.df_utils.arr_to_df(arr_lists, col_names)

    strike       c       p
0     1175  225.40   46.60
1     1200  205.55   51.55
2     1225  186.20   57.15
3     1250  167.50   63.30
4     1275  149.15   70.15
5     1300  131.70   77.70
6     1325  115.25   86.20
7     1350   99.55   95.30
8     1375   84.90  105.30
9     1400   71.10  116.55
10    1425   58.70  129.00
11    1450   47.25  143.20
12    1500   29.25  173.95
13    1550   15.80  210.80
14    1575   11.10  230.90
15    1600    7.90  252.40

** Use the formula: **
$$ C - P = S e^{-qT} - K e^{-rT} $$
$$ S e^{-qt} = F e^{-rt} $$
$$ C - P = F e^{-rT} - K e^{-rT} $$

$$ C - P = PVF - K \cdot disc $$

### setting up the regression

In [4]:
ones = np.array([1.0] * len(strikes))

In [5]:
A = np.column_stack([ones, -strikes])
A

array([[  1.00000000e+00,  -1.17500000e+03],
       [  1.00000000e+00,  -1.20000000e+03],
       [  1.00000000e+00,  -1.22500000e+03],
       [  1.00000000e+00,  -1.25000000e+03],
       [  1.00000000e+00,  -1.27500000e+03],
       [  1.00000000e+00,  -1.30000000e+03],
       [  1.00000000e+00,  -1.32500000e+03],
       [  1.00000000e+00,  -1.35000000e+03],
       [  1.00000000e+00,  -1.37500000e+03],
       [  1.00000000e+00,  -1.40000000e+03],
       [  1.00000000e+00,  -1.42500000e+03],
       [  1.00000000e+00,  -1.45000000e+03],
       [  1.00000000e+00,  -1.50000000e+03],
       [  1.00000000e+00,  -1.55000000e+03],
       [  1.00000000e+00,  -1.57500000e+03],
       [  1.00000000e+00,  -1.60000000e+03]])

In [6]:
y = (call_pxs - put_pxs).reshape(-1, 1)
y

array([[ 178.8 ],
       [ 154.  ],
       [ 129.05],
       [ 104.2 ],
       [  79.  ],
       [  54.  ],
       [  29.05],
       [   4.25],
       [ -20.4 ],
       [ -45.45],
       [ -70.3 ],
       [ -95.95],
       [-144.7 ],
       [-195.  ],
       [-219.8 ],
       [-244.5 ]])

In [7]:
AtA = A.transpose().dot(A)
Aty = A.transpose().dot(y)

In [8]:
Ut = np.linalg.cholesky(AtA)
Ut

array([[  4.00000000e+00,   0.00000000e+00],
       [ -5.49375000e+03,   5.22576250e+02]])

In [9]:
x = cho_solve((Ut, True), Aty)
x

array([[  1.34953657e+03],
       [  9.96420255e-01]])

In [10]:
PVF = x[0,0]
disc = x[1,0]
print(PVF, disc)

1349.53656845 0.996420254613

### if solving for q and r, need the S

In [109]:
S = 1370.87
q = (-np.log(PVF / S) * (1/T))
r = (-np.log(disc) * (1/T))
print(r, q)

0.00458630204752 0.020058470959

### r and q not required for black scholes if we have PVF and disc!

In [110]:
# solve for ATM call and put using PVF and disc
K = S
vol = 0.1943274
c_px = pq.blackscholes.bs_price_future(True, PVF, disc, K, T, vol)
p_px = pq.blackscholes.bs_price_future(False, PVF, disc, K, T, vol)
print(c_px, p_px)

84.9000856396 101.326151636

In [111]:
# solve for ATM call and put using r and q
c_px2 = pq.blackscholes.bs_price(T, True, S, K, vol, r, q)
p_px2 = pq.blackscholes.bs_price(T, False, S, K, vol, r, q)
print(c_px2, p_px2)

84.9804708913 101.406536888

In [112]:
# slightly different since we're not using the right S