In [1]:
import numpy as np
import pandas as pd
import pyquantlib as pq

from IPython.display import display
import matplotlib.pyplot as plt
%matplotlib inline

from importlib import reload

In [4]:
def r_of_t(t):
    return 0.04 + (np.log(1 + 2 * t) / 200)

In [32]:
t = 22/12
np.exp(-r_of_t(t)*t)

0.91626094580710271

In [26]:
# Question assumptions i.
mat_in_m = 40
freq = 2
cpn_rate = 0.09
px, df = pq.bonds.price_bond_r_of_t(mat_in_m, cpn_rate, freq, r_of_t)
print("The Price of the Bonds is:", px)
print("With the following details")
display(df)

The Price of the Bonds is: 113.455170343
With the following details

                df     cf         pv
t
0.333333  0.985915    4.5   4.436619
0.833333  0.963271    4.5   4.334721
1.333333  0.939887    4.5   4.229493
1.833333  0.916261    4.5   4.123174
2.333333  0.892641    4.5   4.016886
2.833333  0.869176    4.5   3.911294
3.333333  0.845962  104.5  88.402982

### Part ii) Yield to Maturity

In [10]:
reload(pq.bonds)

In [13]:
yld = pq.bonds.ytm_newton(0.1, px, mat_in_m, cpn_rate, freq, tol_consec=10**-6)

Generated t_list:
[ 0.33333333  0.83333333  1.33333333  1.83333333  2.33333333  2.83333333
  3.33333333]
Genenrated cf_list:
[   4.5    4.5    4.5    4.5    4.5    4.5  104.5]
initial guessed yield implied price = 98.007893968
Not close enough, doing next iteration ...
Current iteration = 1
current yield = 0.1
new yield = 0.0457096576622
new price = 114.865554599

Not close enough, doing next iteration ...
Current iteration = 2
current yield = 0.0457096576622
new yield = 0.0498816134733
new price = 113.464489588

Not close enough, doing next iteration ...
Current iteration = 3
current yield = 0.0498816134733
new yield = 0.049909548391
new price = 113.455170757

Not close enough, doing next iteration ...
Current iteration = 4
current yield = 0.049909548391
new yield = 0.0499095496323
new price = 113.455170343

In [17]:
t_list, cf_list, df = pq.bonds.gen_t_cf_dataframe(mat_in_m, cpn_rate, freq)
df

             cf
t
0.333333    4.5
0.833333    4.5
1.333333    4.5
1.833333    4.5
2.333333    4.5
2.833333    4.5
3.333333  104.5

In [18]:
yld

0.049909549632267222

### Part iii

In [19]:
B, D, C = pq.bonds.price_bond_w_dur_cvx(t_list, cf_list, yld)
print(B, D, C)

113.455170343 2.94015659228 9.35259803356

In [34]:
mat_in_m, cpn_rate, freq

(40, 0.09, 2)

In [37]:
px_up = pq.bonds.price_bond(yld+0.0001, mat_in_m, cpn_rate, freq)
px_down = pq.bonds.price_bond(yld-0.0001, mat_in_m, cpn_rate, freq)
delta = (px_up - px_down) / (0.0002)
-delta

333.57597277024809

In [20]:
dollar_dur = B*D
dollar_dur

333.57596701205529

In [21]:
dv01 = dollar_dur / 10000
dv01

0.033357596701205527

In [22]:
dollar_cvx = B*C
dollar_cvx

1061.1006030453452