In [3]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt

In [4]:
start = dt.datetime(2010, 1, 1)
end = dt.datetime(2018, 3, 31)

In [10]:
infl = web.DataReader('BRACPIALLMINMEI', 'fred', start, end)
infl

            BRACPIALLMINMEI
DATE
2010-01-01        97.614896
2010-02-01        98.376173
2010-03-01        98.887651
2010-04-01        99.451464
2010-05-01        99.879141
2010-06-01        99.879141
2010-07-01        99.889094
2010-08-01        99.928908
2010-09-01       100.378418
2010-10-01       101.131346
2010-11-01       101.970645
2010-12-01       102.613123
2011-01-01       103.464944
2011-02-01       104.292684
2011-03-01       105.116572
2011-04-01       105.926010
2011-05-01       106.424003
2011-06-01       106.583579
2011-07-01       106.754071
2011-08-01       107.148998
2011-09-01       107.716985
2011-10-01       108.180302
2011-11-01       108.742831
2011-12-01       109.285453
2012-01-01       109.898713
2012-02-01       110.393174
2012-03-01       110.624350
2012-04-01       111.333934
2012-05-01       111.732071
2012-06-01       111.821973
...                     ...
2015-09-01       140.315112
2015-10-01       141.465536
2015-11-01       142.894334
2015-12-01       144.265981
2016-01-01       146.098055
2016-02-01       147.412871
2016-03-01       148.046679
2016-04-01       148.949873
2016-05-01       150.111535
2016-06-01       150.636925
2016-07-01       151.420250
2016-08-01       152.086488
2016-09-01       152.208177
2016-10-01       152.604066
2016-11-01       152.878909
2016-12-01       153.337409
2017-01-01       153.920167
2017-02-01       154.428113
2017-03-01       154.814049
2017-04-01       155.030777
2017-05-01       155.511431
2017-06-01       155.153750
2017-07-01       155.526201
2017-08-01       155.821593
2017-09-01       156.070750
2017-10-01       156.726392
2017-11-01       157.165306
2017-12-01       157.856909
2018-01-01       158.314767
2018-02-01       158.821428

[98 rows x 1 columns]