![question9](img/hw2q9.png)

In [1]:
import numpy as np
import pandas as pd
import pyquantlib as pq

from IPython.display import display
import matplotlib.pyplot as plt
%matplotlib inline

from importlib import reload

In [2]:
def r_inst(t):
    return 0.05 / (1 + 2 * np.exp(-1 * (1 + t) ** 2))

#### part i)

In [5]:
mat_in_m = 24
freq = 2
cpn_rate = 0.05
tol_list = [10 ** -6, 10 ** -6, 10 ** -6, 10 ** -6, 10 ** -8]

In [6]:
t_list, cf_list, df = pq.bonds.gen_t_cf_dataframe(mat_in_m, cpn_rate, freq)
display(df)

        cf
t
0.0    0.0
0.5    2.5
1.0    2.5
1.5    2.5
2.0  102.5

In [7]:
tol_list = [10 ** -6, 10 ** -6, 10 ** -6, 10 ** -6, 10 ** -8]

In [8]:
df_list = pq.bonds.df_from_rinstoft(t_list, r_inst, tol_list=tol_list)
df_list

array([ 1.        ,  0.98256856,  0.96051626,  0.93714845,  0.91404132])

#### Part ii)

In [10]:
px, df = pq.bonds.price_bond_r_of_t(mat_in_m, cpn_rate, freq, r_inst, 
                                    is_inst=True,
                                    tol_list=tol_list,
                                    is_verbose=True)
print("\nThe Price of the Bonds is:", px)
print("With the following details")
display(df)

using n = 4, estimated simpson integral = 0.0175851596127
using n = 8, estimated simpson integral = 0.0175851588279
change fell below the threshold, returning integral: 0.0175851588279
using n = 4, estimated simpson integral = 0.0402845136355
using n = 8, estimated simpson integral = 0.0402843633631
change fell below the threshold, returning integral: 0.0402843633631
using n = 4, estimated simpson integral = 0.0649141266407
using n = 8, estimated simpson integral = 0.0649135771437
change fell below the threshold, returning integral: 0.0649135771437
using n = 4, estimated simpson integral = 0.0898809791012
using n = 8, estimated simpson integral = 0.089879599655
using n = 16, estimated integral = 0.0898795103389
using n = 32, estimated integral = 0.089879504772
change fell below the threshold, returning integral: 0.089879504772

The Price of the Bonds is: 100.889818099
With the following details

           df     cf         pv
t
0.0  1.000000    0.0   0.000000
0.5  0.982569    2.5   2.456421
1.0  0.960516    2.5   2.401291
1.5  0.937148    2.5   2.342871
2.0  0.914041  102.5  93.689235